<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>This website is created By Deepak. It shows the weather forcast based on location provided</p>
            <img class="potrait" src="img/dee.jpg">
        </div>
        {{>footer}}
    </body>
</html>